* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

@supports (display: grid) {
    body {
        display: grid;
        grid-template-areas: "header"
                             "main"
                             "footer";
        height: 100%;                     
    }
}

.logo {
    width: 100%;
    height: 200px;
    background-color: red
}

header {
    grid-area: header
}

main {
    grid-area: main
}

footer {
    background: black;
    margin-top: 3rem;
    grid-area: footer;
}