@import "config";
@import "menu";

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {   
    // @include background;
    background: $color-primary;
    color: set-color($color-primary);
    margin: 0;
    font-family: "Roboto", sans-serif;
}


h1,h2 {
    font-weight: 500;

    &.name {
        font-size: 5rem;
    }
}

a {
    color: set-color($color-primary);
    text-decoration: none;
}


main {
    max-width: 1000px;
    margin: 0 auto;

    section {
        &#home {
            display: grid;
            grid-template-areas: "name name"
                                 "image icons"
                                 "about about";
            grid-row-gap: 5rem;
            padding: 5rem;
            // margin-bottom: calc(100vh - 578px);
            .name {
                grid-area: name;
                margin: 0;
                padding: 0;
            }

            .about-image {
                width: 200px;
                height: 200px;
                border-radius: 50%;
                grid-area: image;
            }

            .tools {
                grid-area: icons;
            }


            .about{
                grid-area: about;
            }

            i {
                margin-right: 0.4rem;
            }

        }

        &#projects {
            background: $color-primary;
            background-size: cover;
            padding: 5rem;
            .projects-container {
                display: grid;
                grid-gap: 1.5rem;
                grid-template-columns: repeat(3, 1fr);
                justify-items: center;
            }

            .image1{
                background: url("../images/recipe\ app\ image.JPG");
            }  
            .image2{
                background: url("../images/fitapp\ image.JPG");
            }
            .image3{
                background: url("../images/placesapp\ image.JPG");
            }

            .project-description {
                width: 300px;
                height: 300px;
                background-size: cover;
                color:transparent;

              

                &:hover > .overlay{
                    visibility: visible;
                }

                .overlay {
                    background: rgba($color-primary, 0.7);
                    visibility: hidden;
                    height: 300px;
                    width: 300px;
                    color: black;
                    padding: 2rem;
                    font-weight: 600;
                    // letter-spacing: 1px;
                }

            }

              


            .project-github {
                float: right;

                &:hover{
                    color: $color-secondary;
                }
            }
        }

        &#contact {
            text-align: center;

            .contact-line{
                width: 40%;
                margin-top: 0.5rem;
                margin-bottom: 0.5rem;
            }

            .contact-email {
                display: inline-block;
                font-size: 1.5rem;
                margin: 0.5rem;

                &:hover {
                    color: $color-secondary;
                    letter-spacing: 0.05rem;
                    @include transition;
                }
            }
        }

    }
}


.icons {
    padding: 2rem;
    text-align: center;

    a {
        padding: 0.6rem;

        &:hover {
            color: $color-secondary;
            @include transition()
        }
    }
}

.copyright {
    padding: 2rem;
}









@import "mobile";


